@use 'variables' as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: $golden-gradient;
    color: $text-color;
    border-radius: $border-radius-base $border-radius-base 0 0;
}

.fecha{
    font-size: 0.6rem;
    font-weight: 300;
    border: 1px solid $text-color;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-base;
    background-color: $secondary-color;
}