@use 'variables' as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: $golden-gradient;
    color: $text-color;
    border-bottom: 2px solid $text-color;
}

.fecha{
    font-size: 0.5rem;
    font-weight: 200;
    border: 1px solid $text-color;
    padding: 0.1rem 1rem;
    border-radius: $border-radius-base;
    background-color: $secondary-color;
}