<form action="">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre">

  <label for="comision">Comisión:</label>
  <input type="number" id="comision" name="comision">

  <label for="ventas">Ventas:</label>
  <input type="number" id="ventas" name="ventas">

  <label for="ganancias">Ganancias:</label>
  <input type="number" id="ganancias" name="ganancias">

  <label for="especialidad">Especialidad:</label>
  <input type="text" id="especialidad" name="especialidad">

  <button type="submit">Agregar Barbero</button>
  <button (click)="onClose()">Cerrar</button>
</form>